<div id="chat-div">
    <ul id="messages"></ul>
    <form id="form" action="">
        <input id="input" autocomplete="off" /> <button id="chat-button">send</button>
    </form>
</div>
<p id="chat-x">chat</p>