<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <a href="/users"><h1>click<span class="eez">eez</span></h1></a>
    <div class="clicky sign-in-div" style="margin: 100px auto">
        <h2>sign up</h2><br>
        <form action= "/users/newuser" method="POST">
        user name: <input type="text" name="username" style="width:140px;"  required/></br><br>
        password: <input type="password" name="password" required/></br><br><br>
        <input type="submit" value="sign up">
        </form>
    </div>
</body>
</html>