<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="navstyle.css">
</head>
<body>
    <a><h1>click<span class="eez">eez</span></h1></a>
    <!-- <div class="container" style="display:flex;flex-direction:column;justify-content:center;position:absolute;width:100%;height:100%;"> -->
    <div class="clicky sign-in-div" style="margin: 100px auto">
    <h2 class="sign-in-div" >sign in</h2><br>
    <form action = "/users/newsession" method="POST">
        user name: <input class="sign-in-div" type="text" name="username" style="width:140px;" required/><br><br>
    password: <input type="password" name="password" required/><br><br>
        <input id="sign-in" type="submit" value="sign in">
    </form>
    <a   href="/users/signup">not a member?</a>
    </div>
    <!-- </div> -->
</body>
</html>